 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
} 
/* ------navbar--------------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
  --bodyFonts: 'Josefin Sans', sans-serif;
  --pinkColor: #5557F3;
  --titleColor: #000000;
  --bodyColor: #666666;
  --lightblueColor: #8D99FF;
  --whiteColor: #ffffff;
  --fontSize: 16px;
  --transition: .5s;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif !important;
}
/* --------------nav bar start---------------- */
#navbar
{
    position: sticky;
    top: 0;
    left: 0;
    z-index:300;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background:black;
}
.navbar .navbar-brand
{
    font-size: 25px;
    font-weight:800;
    color:tomato !important;
}
#navbarSupportedContent .navbar-nav .nav-item a{
  text-align: justify;
}
#navbarSupportedContent a{
    color: #fff;
    border-bottom: 2px solid  transparent;
    margin-left:40px; 

}
#navbarSupportedContent a:hover {
    border-bottom: 2px solid tomato;
}
#navbarSupportedContent button{
    background:tomato;
    width: 5rem;
    border-radius: 20px;

}


section{
  width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}





 /* --------navbar end-------------- */
 /* --------------home page start------------ */

#home
{
    background:url("img/background img.jpg");
     background-size: cover; 
    background-position: center; 
     flex-direction: column; 
    margin-top:  -50px;
}
 #home h1{ 
   /* display: flex;
  align-items: center;
  justify-content: center; */
   
    font-size: 40px;
    margin-bottom: 30px;
    
   
    
   
    color:rgb(3, 12, 3);
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:  0px 1px 0px #ccc,
                  0px 2px 0px #ccc,
                  0px 3px 0px #ccc,
                  0px 4px 0px #ccc,
                  0px 5px 0px #ccc,
                  0px 6px 0px #ccc,
                  0px 7px 0px #ccc;
}
#home p{
    font-size: 20px;
    color:black;
   /* display: flex;
   align-items: center;
   justify-content: center; */

}
/* #home .input-group
{
    width:60%;
    height:45px;
    margin-left: 300px;
    
}

.signin{
    background: tomato !important;
    color:white !important;
    box-shadow: 2px 4px 5px rgba(0,0,0,.3);
    height: 40px;
    border-radius: 20%;

} */
/* 
#about{
  background:white;
} */
/* 
-------------home page end------------ */

/* .about .container{
  background-color: red;
} */
 .about .section-title h2{
  color: #173b6c;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}
.about .section-title p{
  text-align: center;
  margin-left: 425px;

}

.about .content h3 {
  font-weight: 600;
  font-size: 25px;
  color: #173b6c;
}
.about .container{
  background: #fff;
} 

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}
.about p{
  font-family: sans-serif;
}

.skills .progress {
  height: 60px;
  display: block;
  
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background:#fff;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #149ddd;
}
.skills .section-title h2{
  color: #173b6c;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  /* margin-top: 20px; */

}
.skills .section-title p{
 text-indent:50px;
}
#portfolio h2{
  color: #173b6c;
  font-weight: 700;
  font-size: 40px;
  text-align: center;

}



#certifications h2{
  color: #173b6c;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  top: 0px;
  margin-top: -50px;
}
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
#contact h2{
  color: #173b6c;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  
  margin-top: 0px;
    box-shadow: 0px 2px #173b6c;
    font-weight: normal;


}
#contact h6{
  color: gray;
  
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}